
body {
    margin: 0;
    background-image: url(./img/background.png);
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

p{
    color: #ffffff;

}
.chat-container {
    background: #0000006a;
    width: 90%;
    max-width: 800px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 0 0px 10px 3px #ffffff;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.chat-header {
    background: #0000006a;
    box-shadow: 0px 4px 6px #fcfcfc;
    color: #00eeff;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.selectpeople {
    font-size: 1rem;
    color: #ffffff;
    background-color: #000000;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 10px;
    width: 60%;
    max-width: 300px;
    position: relative;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0px 4px 6px #00ffff;
}


.selectpeople option {
    color: #ffffff;
    font-size: 1rem;
    padding: 10px;
}

.choosp {
    width: 200px;
    display: flex;
    margin-left: 35px;
    margin-top: 15px;
}



.chat-messages {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background: #0000006a;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.chat-messages .message {
    max-width: 70%;
    padding: 10px;
    border-radius: 10px;
    font-size: 0.9rem;
    position: relative;
    line-height: 1.4;
}

.chat-messages .message.received {
    background: #ffc6c6;
    color: #000000;
    align-self: flex-start;
}

.chat-messages .message.sent {
    background: #fffebd;
    color: #000000;
    align-self: flex-end;
}

.chat-messages .time {
    font-size: 0.7rem;
    margin-top: 5px;
    display: block;
    text-align: right;
    opacity: 0.6;
}


.chattext {
    display: flex;
    border-top: 1px solid #ddd;
    padding: 10px;
    background: #0000006a;
}

.chattext input {
    flex: 1;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 10px;
    outline: none;
    font-size: 1rem;
    box-shadow: none;
    transition: 0.3s ease;
}

.chattext input:focus {
    border-color: #00eeff;
    box-shadow: 0 0 5px rgba(37, 117, 252, 0.5);
}

.chattext button {
    background: #22bbc3;
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 20px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s ease;
}

.chattext button:hover {
    background: #00399a;
}
